
      <form [formGroup]="options"  class="normal-form" >
         <mat-grid-list cols="3" rowHeight="500px">
            <mat-grid-tile>
                  <div class="controles-container">
                             <mat-form-field >
                                 <input matInput placeholder="Full Nmae" >
                             </mat-form-field>
                             <mat-form-field >
                              <input matInput placeholder="Address" >
                             </mat-form-field>
                             <mat-form-field >
                              <input matInput placeholder="Mobile" >
                             </mat-form-field>
                           
                     </div>
                   

             </mat-grid-tile>
                      
          
            <mat-grid-tile>
              <div>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
               </div>
          </mat-grid-tile>
           
          <mat-grid-tile>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-flat-button color="primary" style="margin-right: 40px;" > Reserve Application
              </button>
              <button mat-flat-button color="primary"  style="margin-right: 40px;" > Cancel
              </button>
            </div>
            
          
          </mat-grid-tile>              

           </mat-grid-list>
       </form>
